.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container img {
    margin-bottom: 1rem;
    width: 8rem;
    max-width: 285px;
}

.login-container p {
    font-size: .624rem;
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}

.login-container p.welcome {
    font-family: 'main-bold';
    font-size: .702rem;
    width: 50%;
}

.login-container button {
    margin-top: 1rem;
}

.login-container .log-in {
    width: 90%;
}

.login-container .login-error {
    padding: .312rem;
}

.login-container .login-error p {
    margin-bottom: 0;
    font-size: .493rem;
    color: var(--error);
}

@media screen and (max-width: 25em) {
    .login-container {
        width: 90%;
        height: 20rem;
    }
}