.loader-container {
    animation: spin 1s linear infinite;
}

.loader-container .loader-background {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: .5rem solid var(--secondary-background);
    margin: 0 auto;
}

.loader-container .loader {
    width: .45rem;
    height: .45rem;
    border-radius: 50%;
    background: var(--greeny-blue);
    margin-left: 50%;
    margin-top: -18px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}