.input-container {
    flex-direction: column;
    padding: .312rem;
    width: 100%;
}

.input-container .hide-label {
    display: none;
}

.input-container label {
    font-size: .555rem;
}

.input-container input {
    width: 100%;
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position: left;
    background-size: .789rem;
    border-bottom: 1px solid var(--main-color);
    padding: .2rem 0 .2rem 1.2rem;
    font-size: .555rem;
    color: var(--main-color);
}