.button-container {
    width: 100%;
    padding: .312rem;
}

.button-container button {
    width: 90%;
    padding: .312rem;
    border-radius: .1rem;
    border: none;
    background: var(--greeny-blue);
    color: var(--white);
    font-family: 'main';
    font-size: .493rem;
    cursor: pointer;
    transition: all .4s linear;
}

.button-container button:hover {
    background: var(--greeny-blue-hover);
}