.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background: linear-gradient(to bottom, var(--medium-pink), var(--pink));
}

.header-container .logo {
    width: 8rem;
}

.header-container button {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
}

.header-container .right-button {
    right: 1rem;
}

.header-container .left-button {
    left: .7rem;
}

.header-container button img {
    width: 1.5rem;
}

.header-container input {
    border-bottom: 1px solid var(--background);
    color: var(--background);
}