@font-face {
    font-family: 'main-bold';
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'main';
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #383743;
    --background: #EBE9D7;
    --greeny-blue: #57BBBC;
    --greeny-blue-hover: rgb(41, 126, 128);
    --white: #FFFFFF;
    --secondary-background: rgba(214, 214, 214, .5);
    --error: rgb(194, 17, 17);
    --medium-pink: #EE4C77;
    --pink: rgb(187, 42, 81);
}

html {
    font-size: 16px;
}

body {
    font-family: 'main';
    background: var(--background);
}

.flex-centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 25em) {
    html {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}

@media screen and (max-width: 40em) {
    html {
        font-size: calc(16px + (24 - 16) * (100vw - 400px) / (800 - 400));
    }
}